<!DOCTYPE html>
<html lang="es">
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#40407a" fill-opacity="1" d="M0,288L60,266.7C120,245,240,203,360,197.3C480,192,600,224,720,234.7C840,245,960,235,1080,202.7C1200,171,1320,117,1380,90.7L1440,64L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z">
        </path>
        <text class="header" x="50%" y="30%" text-anchor="middle" alignment-baseline="middle" fill="#fff" style="font-family: Oxygen">Administración Local con Código de Barras</text>
    </svg>
    
    <div class="form-table">
        <div class="form-add">
            <h2>Add product</h2>
            <form action="/add" method="post">
                <input type="text" name="ref" id="ref" placeholder="Type" autofocus>
                <input type="text" name="name" id="name" placeholder="Name">
                <input type="text" name="price" id="price" placeholder="Price">
                <input id="submit" type="submit" value="Submit">
            </form>
        </div>
        <div class="current-table">
            <div class="table-current">
                <h2>Information</h2>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(data) { %>
                        <% if(data.length > 0) { %>
                        
                            <tr>
                                <td><%= data.length %></td>
                                <td><%= data[data.length - 1].ref %></td>
                                <td><%= data[data.length - 1].name %></td>
                                <td><%= data[data.length - 1].price %></td>
                            </tr>
                        <% } %>
                        <% if(data.length <= 0) { %>
                            <tr>
                                <td class="empty-column" colspan="4">No Information</td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <div class="table">
            <h2>Information</h2>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(data) { %>
                        <% if(data.length <= 0) { %>
                            <tr>
                                <td class="empty-column" colspan="5">No Information</td>
                            </tr>
                        <% } %>
                        <% for(let i = 0; i < data.length; i++) { %>
                            <tr>
                                <td><%= (i + 1) %></td>
                                <td><%= data[i].ref %></td>
                                <td><%= data[i].name %></td>
                                <td><%= data[i].price %></td>
                                <td>
                                    <a class="delete" href="/delete/<%= data[i].id %>">Delete</a>
                                    <a class="update" href="/update/<%= data[i].id %>">Edit</a>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
    <% include partials/footer.ejs %>
    <script src="/js/app.js"></script>
</body>
</html>